* {
   box-sizing: border-box;
   font-family: Arial, sans-serif;
   margin:0;
}

body{
   background-color: #eae8f2;
   color:#555555;
}

label{
   display: block;
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 10px;
   margin-top: 20px;
}

h2.title{
   margin-top: 10px;
}

.tip{
   display: block;
   font-size: small;
   margin-bottom: 40px;
   margin-top: 5px;
}

.formContainer{
   background-color: #ffffff;
   border:10px solid rgba(8,35,172,0.2);
   border-radius: 20px;
   min-height: 650px;
   padding: 20px;
   width:350px;
   margin:100px auto;
}

textarea,
select{
   border: 1px solid #cccccc;
   border-radius: 5px;
   height:40px;
   padding: 0 10px;
   outline-color: rgba(8,35,172,0.8);
   width: 100%;
}


textarea{
   padding: 10px;
   height: 100px;
   resize: none;
}

input[type=button]{
   background-color: #5823b2;
   border:none;
   border-radius: 5px;
   color:#ffffff;
   height: 40px;
   margin-top: 20px;
   width:100%;
   margin-bottom: 20px;
}
input[type=button]:enabled{
   cursor: pointer;
}
input[type=button]:disabled{
   opacity: 0.5;
   cursor: not-allowed;
}
input[type=button]:enabled:hover{
   opacity: 0.8;
}

.link{
   font-size: small;
   margin-top: 30px;
   text-align: center;
}

a{
   color: #5823b2;
   font-weight: bold;
   text-decoration: none;
}

.errorMsg{
   font-size: small;
   background-color: #ff7979;
   color: #ffffff;
   border-radius: 5px;
   padding:10px;
}
.copy{
   font-size: small;
   text-align: center;
   margin:5px;
}

#result{
   text-align: center;
}
.logo{
   display: none;
}

@media screen and (max-width: 500px) {
   body{
      background-color: #ffffff;
   }
   .formContainer{
      width: 100%;
      max-width: 500px;
      margin: 0;
      border:0;
      border-radius: 0;
      padding-top: 0;
   }
   .logo{
      display: block;
      padding-left: 17px;
      padding-top: 5px;
   }
   .logo img{
      width: 64px;
   }

}
